<a href="https://colab.research.google.com/github/mhtasnia/DS422/blob/main/lab_report01_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# 1.Create a pandas series from each of the items below: a list, numpy and a dictionary.

In [44]:
import pandas as pd
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser = pd.Series(mydict)
display(ser)

ser_myarr = pd.Series(myarr)
display(ser_myarr)

ser_list = pd.Series(mylist)
display(ser_list)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

# 2.Convert the series ser into a dataframe with its index as another column on the dataframe.

In [45]:
df_2 = ser.to_frame().reset_index()
df_2.columns = ['Alphabet', 'Value']
display(df_2)

   Alphabet  Value
0         a      0
1         b      1
2         c      2
3         e      3
4         d      4
5         f      5
6         g      6
7         h      7
8         i      8
9         j      9
10        k     10
11        l     11
12        m     12
13        n     13
14        o     14
15        p     15
16        q     16
17        r     17
18        s     18
19        t     19
20        u     20
21        v     21
22        w     22
23        x     23
24        y     24
25        z     25

# 3.Combine ser1 and ser2 to form a dataframe.

In [46]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df_combined = pd.concat([ser1, ser2], axis=1)
display(df_combined)

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

# 4. Give a name to the series ser calling it alphabets.

In [47]:
ser.name = 'alphabets'
display(ser)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
Name: alphabets, dtype: int64

# 5.From ser1 remove items present in ser2.

In [48]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [49]:
items_to_remove = ser1.isin(ser2)

ser1_cleaned = ser1[~items_to_remove]

display(ser1_cleaned)

0    1
1    2
2    3
dtype: int64

## 6.Get all items of ser1 and ser2 not common to both.

In [50]:
not_in_ser2 = ser1[~ser1.isin(ser2)]
not_in_ser1 = ser2[~ser2.isin(ser1)]
items_not_common = pd.concat([not_in_ser2, not_in_ser1])

display(items_not_common)

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

# 7.Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [51]:
ser = pd.Series(np.random.normal(10, 5, 25))

In [52]:
ser_stats = ser.describe()

ser_stats

count    25.000000
mean      7.386541
std       5.197120
min      -3.688033
25%       3.289286
50%       7.702141
75%      12.063568
max      15.804281
dtype: float64

In [53]:
print(f"Minimum: {ser_stats['min']}")
print(f"25th percentile: {ser_stats['25%']}")
print(f"Median: {ser_stats['50%']}")
print(f"75th percentile: {ser_stats['75%']}")
print(f"Maximum: {ser_stats['max']}")

Minimum: -3.688033050709926
25th percentile: 3.289285510211278
Median: 7.702140666961712
75th percentile: 12.063567840405272
Maximum: 15.80428079802068

# 8.Calculte the frequency counts of each unique value ser.

In [54]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [55]:
frequency_counts = ser.value_counts()

display(frequency_counts)

d    6
b    5
g    5
a    4
c    3
e    3
f    2
h    2
Name: count, dtype: int64

# 9.From ser, keep the top 2 most frequent items as it is and replace everything else as Other.

In [56]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
display(ser)

0     2
1     3
2     2
3     3
4     4
5     1
6     2
7     2
8     1
9     2
10    1
11    3
dtype: int64

In [57]:
top_2 = ser.value_counts().index[:2]
ser_mod = ser.copy()
ser_mod[~ser_mod.isin(top_2)] = 'Other'

display(ser_mod)

/tmp/ipython-input-3290843605.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ser_mod[~ser_mod.isin(top_2)] = 'Other'

0         2
1         3
2         2
3         3
4     Other
5     Other
6         2
7         2
8     Other
9         2
10    Other
11        3
dtype: object

# 10.Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [58]:
ser = pd.Series(np.random.random(20))
ser

0     0.689228
1     0.390316
2     0.753088
3     0.455634
4     0.890258
5     0.061537
6     0.422678
7     0.418043
8     0.183306
9     0.579707
10    0.332821
11    0.667311
12    0.687861
13    0.575268
14    0.736964
15    0.339119
16    0.533981
17    0.276041
18    0.814643
19    0.264313
dtype: float64

In [59]:
ser_binned = pd.qcut(ser, q=10, labels=False)
bin_names = [f'Decile_{i+1}' for i in range(10)]
ser_binned = pd.qcut(ser, q=10, labels=bin_names)

display(ser_binned)

0      Decile_8
1      Decile_4
2      Decile_9
3      Decile_5
4     Decile_10
5      Decile_1
6      Decile_5
7      Decile_4
8      Decile_1
9      Decile_7
10     Decile_3
11     Decile_7
12     Decile_8
13     Decile_6
14     Decile_9
15     Decile_3
16     Decile_6
17     Decile_2
18    Decile_10
19     Decile_2
dtype: category
Categories (10, object): ['Decile_1' < 'Decile_2' < 'Decile_3' < 'Decile_4' ... 'Decile_7' <
                          'Decile_8' < 'Decile_9' < 'Decile_10']

# 11.Reshape the series ser into a dataframe with 7 rows and 5 columns.

In [60]:
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     7
1     5
2     3
3     4
4     4
5     2
6     2
7     3
8     4
9     9
10    9
11    7
12    9
13    5
14    4
15    6
16    2
17    6
18    1
19    2
20    8
21    1
22    4
23    9
24    9
25    3
26    1
27    6
28    5
29    4
30    4
31    2
32    6
33    6
34    4
dtype: int64

In [61]:
df_reshaped = pd.DataFrame(ser.values.reshape(7, 5))

display(df_reshaped)

   0  1  2  3  4
0  7  5  3  4  4
1  2  2  3  4  9
2  9  7  9  5  4
3  6  2  6  1  2
4  8  1  4  9  9
5  3  1  6  5  4
6  4  2  6  6  4

# **12. Find the positions of numbers that are multiples of 3 from ser**

In [62]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)

positions = np.where(ser % 3 == 0)[0]
print(f'Positions: {positions}')

0    7
1    6
2    8
3    5
4    4
5    9
6    2
dtype: int64
Positions: [1 5]

# **13. From ser, extract the items at positions in list pos**

In [63]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

items = ser.take(pos)
print(items)

0     a
4     e
8     i
14    o
20    u
dtype: object

# **14. Stack ser1 and ser2 vertically and horizontally**

In [64]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

ser_vertical = pd.concat([ser1, ser2], axis=0)
print("Vertical Stack")
print(ser_vertical)

ser_horizontal = pd.concat([ser1, ser2], axis=1)
print("Horizontal Stack")
print(ser_horizontal)

Vertical Stack
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
Horizontal Stack
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

# **15. Get the positions of items of ser2 in ser1 as a list**

In [65]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

positions = [pd.Index(ser1).get_loc(i) for i in ser2]
print(positions)

[5, 4, 0, 8]

# **16. Compute the mean squared error of truth and pred**

In [66]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

mse = np.mean((truth - pred)**2)
print(mse)

0.36950631775024856

# **17. Change the first character of each word to upper case in each word of ser.**

In [67]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser_capitalized = ser.str.capitalize()
print(ser_capitalized)

0     How
1      To
2    Kick
3    Ass?
dtype: object

# **18. How to calculate the number of characters in each word in a series?**

In [68]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

char_counts = ser.str.len()
print(f'character count: \n{char_counts}')

character count:
0    3
1    2
2    4
3    4
dtype: int64

# **19. How to convert a series of date-strings to a timeseries?**

In [69]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

#ser_timeseries = pd.to_datetime(ser)
ser_timeseries = pd.to_datetime(ser, format='mixed')
print(ser_timeseries)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

# **20. Get the day of month, week number, day of year and day of week from ser.**

In [70]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser_ts = pd.to_datetime(ser, format='mixed')

df_dates = pd.DataFrame({
    'DayOfMonth': ser_ts.dt.day,
    'WeekNumber': ser_ts.dt.isocalendar().week,
    'DayOfYear': ser_ts.dt.dayofyear,
    'DayOfWeek': ser_ts.dt.day_name()
})
print(df_dates)

   DayOfMonth  WeekNumber  DayOfYear  DayOfWeek
0           1          53          1     Friday
1           2           5         33  Wednesday
2           3           9         63   Saturday
3           4          14         94   Thursday
4           5          19        125     Monday
5           6          23        157   Saturday

# **21. Change ser to dates that start with 4th of the respective months.**

In [71]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

ser_4th = pd.to_datetime('04 ' + ser, format='%d %b %Y')
print(ser_4th)

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

# **22. From ser, extract words that contain atleast 2 vowels.**

In [72]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

vowel_pattern = r'[aeiouAEIOU]'
vowel_counts = ser.str.count(vowel_pattern)

words_with_2_vowels = ser[vowel_counts >= 2]
print(f'Words with more than 2 words: \n{words_with_2_vowels}')

Words with more than 2 words:
0     Apple
1    Orange
4     Money
dtype: object

# **23. Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.**

In [73]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

valid_emails = emails[emails.str.contains(pattern)]
print(f'Valid Emails: \n{valid_emails}')

Valid Emails:
1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

# **24. Compute the mean of weights of each fruit.**

In [74]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

print(pd.DataFrame({'Fruit': fruit, 'Weight':weights}))

mean_weights = weights.groupby(fruit).mean()
print(mean_weights)

    Fruit  Weight
0  carrot     1.0
1   apple     2.0
2  banana     3.0
3   apple     4.0
4  carrot     5.0
5  banana     6.0
6  banana     7.0
7   apple     8.0
8  banana     9.0
9   apple    10.0
apple     6.00
banana    6.25
carrot    3.00
dtype: float64

# **25. Compute the euclidean distance between series (points) p and q,**

In [75]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

distance = np.sqrt(np.sum((p - q)**2))
print(f'Euclidean Distance: {distance}')

Euclidean Distance: 18.16590212458495

# **26. Get the positions of peaks (values surrounded by smaller values on both sides) in ser.**

In [76]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

peaks = np.where((ser.shift(1) < ser) & (ser.shift(-1) < ser))[0]
print(f'Peaks: {peaks}')

Peaks: [1 5 7]